<mat-toolbar>
  <span>
    <a routerLink="/inicio">
      <img src="../../../../../assets/logo.png" alt="" width="190">
    </a>

    
  </span>

  <button type="button" routerLink="/catalogo" class="btn btn-outline-danger">Catalogo</button> 


  <button type="button" routerLink="/table"class="btn btn-outline-danger">Modo admin</button>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="usuario" class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #usuario="matMenu">
    <!-- BOTON DEL MENU QUE TIENE UN ROUTER LINK QUE LO VA A LLEVAR A LA PAGINA DE REGISTRO -->
    <button mat-menu-item routerLink="/registro">registrarse</button>
    <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesion</button>
    <button mat-menu-item>Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>