<div class="row">
    <h1>
        Catalogo
    </h1>
    <mat-tab-group>
        <mat-tab label="Tops">
            <app-card-tops></app-card-tops>
        </mat-tab>
        <mat-tab label="Bolsas">
            <app-card-bolsa></app-card-bolsa>
        </mat-tab>
        <mat-tab label="Jeans">
            <app-card-jeans></app-card-jeans>
        </mat-tab>
      </mat-tab-group>
    <h1>


Productos en stock


    </h1>
    <div class="col">
        <app-card-catalogo>
        </app-card-catalogo>
    </div>

</div>